.App {
  text-align: center;
}
.HeadTag {
  display: flex;
  justify-content: space-around;
}
.InputTag{
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-input {
  width: 250px;
  height: 34px;
  border-radius: 7px;
}